.loaded {
  .main-wrapper {
    display: none;
  }

  .icon-load {
    display: block;
  }
}

.icon-load {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.main-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  min-width: 320px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.row {
  &:after {
    display: none;
  }

  &.clearfix:after {
    display: block;
  }
}

.section {
  position: relative;
  overflow: hidden;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &:after {
    content: '';
    @extend .section-bg;
    opacity: .25;
    //background: $main-first-color-custom;
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: blur(13px);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.title {
  font-weight: $font-weight-normal;
  font-size: 2.5rem;
  text-transform: uppercase;

  &-underline {
    &:after {
      content: '';
      display: block;
      width: 78%;
      height: 2px;
      margin: 10px auto 0;
      background: #ffffff;
    }
  }
}

.btn-default {
  width: 295px;
  padding: 14px 6px;
  border: 5px white solid;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);

  &:hover {
    border-color: $main-second-color;
    color: $main-second-color;
    text-shadow: 0 5px 10px rgba(70, 186, 34, 0.75);
    -webkit-box-shadow: 0 0 5px 0 $main-second-color;
    -moz-box-shadow: 0 0 5px 0 $main-second-color;
    box-shadow: 0 0 5px 0 $main-second-color;
  }
}

.btn-burger {
  display: none;

  &:before {
    content: '';
  }
  span {

  }
  &:after {
    content: '';
  }
}

.font-weight-medium {
  font-weight: 500 !important;
}
.font-weight-sbold {
  font-weight: 600 !important;
}