/*************************************************
********************* FOOTER *********************
*************************************************/
footer.footer {
  order: 3;
  -webkit-order: 3;
  position: relative;
}

.copyright {}

.footer-info picture {
  &:last-child {
    img {
      height: auto;
    }
  }

  img {
    height: 75px;
  }
}