<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>

<body class="loaded">

<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="header-content">
            <a href="index.html" class="logo">
                <picture>
                    <img src="<%= require('./img/logo-img.png') %>" data-src="<%= require('./img/logo-img.png') %>" alt="logo" title="logo">
                </picture>
                <span class="logo__text">schemer</span>
            </a>

            <div class="header-menu">
                <button class="btn-burger">
                    <span></span>
                </button>

                <nav class="site-menu">
                    <a href="news.html" title="NEWS">news</a>
                    <a href="gallery.html" title="GALLERY">gallery</a>
                    <a href="info.html" title="VAALBARA GAMES">vaalbara games</a>
                    <a href="index.html#buy-now" title="BUY NOW">buy now</a>
                </nav>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <header class="header">
        <div class="header-content">
            <a href="index.html" class="logo">
                <picture>
                    <img src="<%= require('./img/logo-img.png') %>" data-src="<%= require('./img/logo-img.png') %>" alt="logo" title="logo">
                </picture>
                <span class="logo__text">schemer</span>
            </a>

            <div class="header-menu">
                <button class="btn-burger">
                    <span></span>
                </button>

                <nav class="site-menu">
                    <!--<a href="news.html" title="NEWS">news</a>-->
                    <a href="gallery.html" title="GALLERY">gallery</a>
                    <a href="info.html" title="VAALBARA GAMES">vaalbara games</a>
                    <a href="index.html#buy-now" title="BUY NOW">buy now</a>
                </nav>
            </div>
        </div>
    </header>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container-fluid social">
            <a href="#" target="_blank">
                <picture><img src="<%= require('./img/placeholder.png') %>" data-src="<%= require('./img/facebook-ico.png') %>" alt="facebook" title="facebook"></picture>
                FACEBOOK</a>
            <a href="#" target="_blank">
                <picture><img src="<%= require('./img/placeholder.png') %>" data-src="<%= require('./img/twitter-ico.png') %>" alt="twitter" title="twitter"></picture>
                TWITTER</a>
            <a href="#" target="_blank">
                <picture><img src="<%= require('./img/placeholder.png') %>" data-src="<%= require('./img/instagram-ico.png') %>" alt="instagram" title="instagram"></picture>
                INSTAGRAM</a>
            <a href="#" target="_blank">
                <picture><img src="<%= require('./img/placeholder.png') %>" data-src="<%= require('./img/youtube-ico.png') %>" alt="youtube" title="youtube"></picture>
                YOUTUBE</a>
        </div>

        <div class="container-fluid footer-content">
            <p class="copyright">Copyright - Vaalbara Games 2020
                Privacy Policy</p>

            <div class="footer-info mr-lg-5">
                <picture><img src="<%= require('./img/placeholder.png') %>" data-src="<%= require('./img/partner-1.png') %>" alt="partners" title="partners"></picture>
                <picture><img src="<%= require('./img/placeholder.png') %>" data-src="<%= require('./img/partner-2.png') %>" alt="rating" title="rating"></picture>
                <picture><img src="<%= require('./img/placeholder.png') %>" data-src="<%= require('./img/company-logo.png') %>" alt="company" title="company"></picture>
                <picture><img src="<%= require('./img/placeholder.png') %>" data-src="<%= require('./img/flag-ico.png') %>" alt="language" title="language"></picture>
            </div>
        </div>

        <div class="section-bg">
            <picture>
                <img src="<%= require('./img/footer-bg.png') %>" data-src="<%= require('./img/footer-bg.png') %>" class="section-bg__img" alt="background-section"
                     title="background-section">
            </picture>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>

<div class="icon-load"></div>
<!-- BODY END   -->

</body>
</html>
